.pio/
.vscode/
Elementic/
.vscode/.browse.c_cpp.db*
.vscode/ipch/
*.tar.gz
*.zip
*.log
*.xlsx
*.code-workspace
old Elementic from Github/
externalInterfaceOperation - kopie.cpp
Clone GitHub.cmd
Thumbs.db
.DS_Store
